body
{
	height:100%;
}

#editor
{
	height: 500px;
	width: 100%;

	background-color: rgb(253,253,253);

	padding:10px;
}

#cursor
{
	background-color: red;	
	border-radius: 3px;
}

.statement
{
	background-color: rgba(242,242,242,0.5);
	border-radius: 3px;
}


pre < .statement
{
	background-color: clear;
	border-radius: 3px;
}